!!!
html
  head
    title='ProyectoSA'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/js/hummingbird.js')
    script(type='text/javascript',src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(type='text/javascript',src='http://localhost:4000/nowjs/now.js')
body
  .navbar.navbar-inverse.navbar
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') ProyectoSA
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='#') Inicio
              li
                a(href='/empleo') Empleadores
              li
                a(href='/solicitante') Registro Empleado
              li
                a(href='/empleador') Registro Empleador
            form#LogIn.navbar-form.pull-right(name='LogIn')
              input.span2(type='text', placeholder='Correo Electronico')
              input.span2(type='password', placeholder='Contraseña')
              button.btn(type='submit') Ingresar
          //
            /.nav-collapse 
    .container
      //
         Main hero unit for a primary marketing message or call to action 
      .hero-unit
        h1 Bienvenido!
        p
          | TrabajoSMS es una plataforma para acabar con la violencia domestica, el objetivos primordial es generar la independencia económica de mujeres de todo el país, para optar por un trabajo solo es necesario poder desempeñar alguna actividad laboral y contar con un teléfono celular que reciba mensajes de texto.
      //
         Example row of columns 
      .row
        .span4
          h2 Empleadores
          p Puede registrarse como empleador y comenzar a generar puestos de empleo.
          p
            a.btn(href='#') Mas informacion »
        .span4
          h2 Empleados
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn(href='#') View details »
        .span4
          h2 Instituciones
          p
            | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          p
            a.btn(href='#') View details »
      hr
      footer
        p © ProyectoSA 2013
